.Herosection{
    background: #F4F6FC;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* min-height: 80vh; */
    padding: 0 5%;
}
.leftcont{
    width: 46%;
    padding: 10% 0;

}

.boldtext{
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 4.4rem;
line-height: 80px;
color: #172B4D;
margin-bottom: 15px;
}
.now{
    color: #5a27ae;
    border-bottom: 5px solid #5a27ae;
}
.mediumtext{
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 40px;
color: #5B5971;
margin-bottom: 15px;
}
.rightcont{
    width: 48%;
}
.heromockup{
    display: flex;
    justify-content: flex-end;
}
.rightcont img{
    width: 95%;
    image-rendering: pixelated;

}
.CreditSection,
.InterestSection,
.CashbackSection{
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
}
.Creditleftcont{
    width: 40%;
}
.Creditleftcont img {
    width: 99%;
}
.Creditrightcont,
.CashBackrightcont{
    width: 45%;
}
.smallHeadline{
font-weight: 500;
font-size: 22px;
line-height: 60px;
color: #27AE60;
margin-bottom: 0;
}
.semiboldtext{
font-weight: 800;
font-size: 45px;
line-height: 60px;
color: #172B4D;
margin-bottom: 15px;

}
.semimediumtext{
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #333333;
margin-bottom: 15px;

}
.downloadNow{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 60px;
scroll-behavior: smooth;

}
.downloadNow a{
    color: #3861FB;
}
.InterestLeftCont{
    width: 45%;
}
.InterestLeftCont img{
    width: 92%;
}
.CashBackleftcont{
    width: 45%;
}
.CashBackleftcont img{
    width: 92%;
}
.InterestRightcont{
    width: 44%;
}
.btngoogle{
    width: 33%;
}
.hgoogleBg img{
    width: 55px;
    height: 55px;
}
.hgoogleLink{
    background: #011d85;
    border-radius: 6px;
    margin-top: 30px;
    }
    .hgoogleBg{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding-right: 12px;
        
        }
        .hgoogleBg p{
            color: #fff;
            text-align: left;

            
            }
.htextgoogle .hgoogleSm{
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-top: 5px;
}
.htextgoogle .hgoogleLg{
    font-size: 1.5rem;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0px;
}
@media screen and (max-width: 1337) {
    .boldtext{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 4.1rem;
        line-height: 75px;
        color: #172B4D;
        margin-bottom: 15px;
        }
        .mediumtext{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #5B5971;
        margin-bottom: 15px;
        }
        .leftcont{
            width: 47%;
            padding: 10% 0;
        
        }
        .rightcont{
            width: 47%;
            padding: 10% 0;
        
        }
}
@media screen and (max-width: 1024px){
    
    .boldtext{
    font-weight: 600;
    font-size: 53px;
    }
    
    .mediumtext{
    font-weight: 400;
    font-size: 18px;
    
    }
    .hgoogleSm{
        font-size: 10px;
    }
    .htextgoogle .hgoogleLg{
        font-size: 1rem;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 0px;
    }
}


@media screen and (max-width: 768px){
    .boldtext{
        font-weight: 600;
        font-size: 40px;
        
        }
        
        .mediumtext{
        font-weight: 400;
        font-size: 17px;
        
        }
        .btngoogle{
            width: 45%;
        }
        .hgoogleBg img{
            width: 50px;
            height: 50px;
        }
        .hgoogleSm{
            font-size: 10px;
        }
        .htextgoogle .hgoogleLg{
            font-size: 1rem;
            margin-top: 0;
            padding-bottom: 0;
            margin-bottom: 0px;
        }
        .CreditSection,
.InterestSection,
.CashbackSection{
    min-height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
        .smallHeadline{
            font-weight: 500;
            font-size: 18px;
            line-height: 40px;
            color: #27AE60;
            margin-bottom: 0;
            }
            .semiboldtext{
            font-weight: 800;
            font-size: 25px;
            line-height: 40px;
            color: #172B4D;
            margin-bottom: 15px;
            
            }
            .semimediumtext{
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #333333;
            margin-bottom: 15px;
            
            }
            .downloadNow{
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 60px;
            scroll-behavior: smooth;
            
            }
}


@media screen and (max-width: 579px){
    .Herosection{
     flex-direction: column;
    }
    .leftcont{
        width: 95%;
    }
    .rightcont{
        width: 100%;
    }
    .boldtext{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 3rem;
        line-height: 70px;
       
        }
        
        .mediumtext{
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
       
        }
        .hgoogleSm{
            font-size: 10px;
        }
        .htextgoogle .hgoogleLg{
            font-size: 1rem;
            margin-top: 0;
            padding-bottom: 0;
            margin-bottom: 0px;
        }
        .CreditSection, .CashbackSection{
            flex-direction: column-reverse;
        }
        .InterestSection{
            flex-direction: column;
        }
        .CashBackleftcont,
        .CashBackrightcont,
        .InterestLeftCont,
        .InterestRightcont,
        .Creditrightcont,
        .Creditleftcont
        {
            width: 97%;
            padding: 4% 2%;
        }
        .semiboldtext
        {
            font-size: 2rem;
            line-height: 40px;
        }

     }
@media screen and (max-width: 375px){
    .Herosection{
      flex-direction: column;
        padding: 4% 2%;
    }
    .leftcont{
        width: 100%;
    }
    .boldtext{
    font-weight: 700;
    font-size: 2rem;
    line-height: 35px;
    margin-bottom: 15px;
    }
    .mediumtext{
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;

    }
    .rightcont{
        width: 100%
    }
    .rightcont img{
        width: 100%;
    
    }
  
    .CreditSection, .CashbackSection{
        flex-direction: column-reverse;
    }
    .InterestSection{
        flex-direction: column;
    }
    .Creditleftcont{
        width: 100%;
    }
    .Creditleftcont img {
        width: 100%;
    }
    .Creditrightcont,
    .CashBackrightcont{
        width: 100%;
    }
    .smallHeadline{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    }
    .semiboldtext{
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 5px;
    }
    .semimediumtext{
    font-weight: 400;
    margin-top: 5px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;

    }
    .downloadNow{
    margin-top: 5px;
    font-size: 16px;
    line-height: 35px;
    
    }
    
    .InterestLeftCont{
        width: 100%;
    }
    .InterestLeftCont img{
        width: 100%;
    }
    .InterestRightcont{
        width: 100%;
    }
    .btngoogle{
        width: 45%;
    }
    .hgoogleBg img{
        width: 30px;
        height: 30px;
    }
    .htextgoogle .hgoogleSm{
        font-size: 11px;
        margin-bottom: 0;
        margin-top: 5px;
    }
    .htextgoogle .hgoogleLg{
        font-size: 20px;
        margin-top: 0;
        padding-bottom: 0;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 482px){
    .boldtext{
        font-weight: 700;
        font-size: 2rem;
        line-height: 35px;
        margin-bottom: 15px;
        }
        .mediumtext{
        font-weight: 400;
        font-size: 16px;
        line-height: 35px;
        margin-bottom: 15px;
    
        }
        .CreditSection,
        .InterestSection,
        .CashbackSection{
            padding: 5% 2%;
        }
        .CashBackleftcont,
        .CashBackrightcont,
        .InterestLeftCont,
        .InterestRightcont,
        .Creditrightcont,
        .Creditleftcont
        {
            width: 97%;
            padding: 4% 2%;
        }
}
