.navbar {
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 200;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
  }
  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8% 5%;

  }
  
  .nav-logo{
    width: 30%;
  }
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
  .nav-item {
    padding: 12px 24px;
    font-weight: 500;
  }
  .navBar li {
    list-style: none;
  }
  .nav-item a {
    color: #172B4D;
    text-decoration: none;
    font-size: 18px;
    }
 
  .nav-item .active {
    padding-bottom: 12px;
  }
  .hamburger {
    display: none;
  }

  .navbar-btn:hover {
    padding: 17px 22px;
  }
 
  .googleLink{
    background: #011d85;
    border-radius: 6px;
    display: flex;
    align-items: center;
    
    }
    .googleBg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    
    }
    .googleBg img{
        width: 40px;
        height: 40px;
    }
    .googleBg p{
    color: #fff;
    padding: 0 10px;
    
    }
    .googleSm{
        font-size: 7px;
        margin-bottom: 0;
    }
    .googleLg{
        font-size: 15px;
        margin-top: 0;
    }
    @media screen and (max-width: 940px) {
      .navbar {
       max-width: 100%;
       padding: 4% ;
     }
     .logo{
      width: 25%;
     }
     .nav-item a {
       color: #fff;
       text-decoration: none;
       font-size: 18px;
       }
     .hamburger {
       display: block;
       color: white;
       padding-right: 40px;
     }
     .nav-menu {
       position: fixed;
       left: -100%;
       top: 60px;
       flex-direction: column;
       background: #5f80fc;
       width: 90%;
       height: 35vh;
       z-index: 999;
       text-align: center;
       transition: 0.3s;
       padding-bottom: 1rem;
     }
     .nav-menu.active {
       left: 0;
     }
     .nav-item {
       margin: 0.5rem 0;
     }
   
   }
  
  @media screen and (max-width: 708px) and (min-width: 568px) {
    .nav-item a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      }
  }
  @media screen and (max-width: 567px) {
    .nav-item a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      }
  }
  
  
  
 
  
  
  
  