.faqsection {
  width: 90%;
  /* margin-top: 100px; */
  margin: auto;
  padding: 100px 0px 50px 0px;
}
.faqheadline {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: #172b4d;
  padding-bottom: 50px;
}
.subhead {
  font-family: "Inter";
  font-style: normal;
}
@media screen and (max-width: 375px) {
  .faqsection {
    min-height: 60vh;
    padding: 20px 0px 0px 0px;
  }
  .faqheadline {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 10px;
    padding: 20px 0px 0px 0px;
  }
  .test {
    width: auto;
  }
}
