@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 10vh;
    background: rgb(194, 62, 62);
}



.nav-links{
    display: flex;
    width: 50%;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}



.nav-links li a{
    color: white;
    text-decoration: none;
}


.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 768px)  {

    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav{
        position: relative;
    }

    .main-nav{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        background: rgb(194, 62, 62);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path:  circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }


    .nav-links.open{
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path:  circle(1500px at 90% -10%);
        pointer-events: all;
        
    }
    .landing {
        flex-direction: column;
    }
    .nav-links li {
        opacity: 0;

    }
    .nav-links li a{
        font-size: 20px;
    }
    .nav-links li:nth-child(1) {
        transition: 0.5s ease 0.2s;  
    }
    .nav-links li:nth-child(2) {
        transition: 0.5s ease 0.5s;
       
    }
    .nav-links li:nth-child(3) {
        transition: 0.5s ease 0.7s;
    }
    li.fade{
        opacity: 1;
    }

    
}