.FooterCont{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 2% 5%;
    background: #F4F6FC;
}

.logo img{
    width: 30%;
}

.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navmenu li{
    list-style-type: none;
    padding: 10px 20px;
}
.navmenu li a{
    text-decoration: none;
    color: #172B4D;

}

.socials{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    color: #1DA1F2;;
}
@media screen and (max-width: 768px){
    .FooterCont{
        text-align: left;
        width: 100%;
        margin-left: 0;
        flex-wrap: wrap;
    }
    .footerlist{
        font-size: 12px;
        
    }
    
.logo img{
    width: 90%;
}

    .socials{
        display: flex;
        justify-content: space-between;
        width: auto;
    }
    .socials-media{
        margin-right: 20px;
    }
}
@media screen and (min-width: 481px) and (max-width: 579px){
    .FooterCont{
        flex-direction: column;
        text-align: left;
        width: 100%;
        margin-left: 0;
    }
    .footerlist{
        font-size: 12px;
    }
    
.logo img{
    width: 100%;
}

    .socials{
        display: flex;
        justify-content: space-between;
        width: auto;
    }
    .socials-media{
        margin-right: 20px;
    }

}

@media screen and (max-width: 480px) {
    .FooterCont{
    flex-direction: column;
    text-align: left;
    width: 100%;

    }
    
    .logo img{
        width: 100%;
        padding-left: 50px;
    }
    .footerlist{
        font-size: 14px;

    }
    .navmenu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }
    .socials{
        width: 60%;
        padding-left: 50px;

    }
    .socials-media{
        width: auto;
    } 
}